
    <div class="imprintContainer">
        <h1 class="">Impressum</h1>

        <div class="">
            <h2 class="">1. Name und Anschrift</h2>
            <p class="">Tom & Nadja Tornado-Garage</p>
            <p class="">Straße</p>
            <p class="">67125 Dannstadt-Schauernheim</p>
        </div>

        <div class="">
            <h2 class="">2. Kontaktmöglichkeit</h2>
            <ul class="">
                <li class="">E-Mail: info.tornado.garage&#64;gmail.com</li>
                <li class="">Telefon: +49</li>
            </ul>
        </div>

        <div class="">
            <h2 class="">3. Webseite</h2>
            <p class="">https://www.tornado-garage.de</p>
        </div>

        <div class="">
            <h2 class="">4. Verantwortlicher für Inhalte (§ 55 RStV)</h2>
            <p class="">Tom & Nadja Tornado-Garage</p>
        </div>
    </div>