<div class="serviceContainer">
    <h1>Unsere Leistungen</h1>
    <div class="serviceGroup">
        <div class="service">
            <div class="serviceContent">
                <h3>Kompletträderwechsel</h3>
                <p>(ohne Reifenmontage & Wuchten)</p>
            </div>
        </div>
        <div class="service">
            <div class="serviceContent">
                <h3>Fahrzeughandel</h3>
            </div>
        </div>
        <div class="service">
            <div class="serviceContent">
                <h3>Sonderanfragen willkommen</h3>
            </div>
        </div>
    </div>
</div>