    h1 {
        font-size: clamp(29px, 5vw, 54px);
        padding-bottom: 50px;
    }


    h2 {
        font-size: clamp(18px, 2vw, 24px);
        padding-top: 20px;
        margin: 0;
    }


    a {
        text-decoration: none;
    }


    .padding {
        padding: 20px;
        max-width: 1440px;
        margin: 50px auto;
        width: 100%;
    }


    .police {
        width: 100%;
    }