* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #E5E4E5;
}


html {
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
    display: block;
    height: 100%;
    color: #111111;
}


@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_opsz,wght.ttf');
}