<main class="main">
    <div class="content">
        <div class="left-side">
            <img src="assets/img/Logo.jpeg" alt="Tornado Garage Logo" class="logo">
            <!-- <h1 class="headline">Tornado-Garage</h1> -->
            <h3 class="subheadline">Tornado ist da, <br> dein Auto läuft wieder, <br> ist doch klar.</h3>
        </div>
        <div class="divider" role="separator" aria-label="Divider"></div>
        <div class="right-side">
            <app-service></app-service>
        </div>
    </div>
</main>
<app-contact></app-contact>